html,
body {
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  height: 49px;
}

.wrapper {
  margin-top: 6rem;
}

.overview {
  font-size: 0.9rem;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: rgb(78, 84, 110);
  font-weight: lighter;
  margin-top: 1.5rem;
}

.login {
  text-align: center;
  color: #031b29;
  font-weight: 600;

  font-size: 25.6px;
  line-height: 24px;
}

.form-group {
  max-height: 2.3rem;
}

.forgot {
  font-size: 14px;
  font-weight: 400;
  color: rgb(3, 12, 48);
  opacity: 0.7;
  text-decoration: underline;
}

html,
base {
  @font-face {
    font-family: "acumin-pro-extra-condensed";
    src: url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("woff2"),
      url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("woff"),
      url("https://use.typekit.net/af/c4767b/00000000000000003b9acb20/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
        format("opentype");
  }
  font-family: acumin-pro, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.member {
  color: #673ab7;
  text-decoration: underline;
}

.success {
  margin-top: 1rem;
  background-color: #030c30 !important;
  color: white;
}

.nav-image {
  height: 50px;
  width: 50px;
  margin-top: 1rem;
}

.nav-bg {
  background-color: #fefefe;
  border-bottom: yellow;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 20px;
}

.featured {
  font-size: 18px;
  line-height: 25px;
  color: #030c30;
  font-weight: 600;
}

.home-image {
  width: 100%;
  height: 50vh;
}

.books {
  height: 90%;
  width: 20%;
  margin-bottom: 26px;
  box-shadow: rgb(203, 240, 255) 8px 8px 0px 0px;
  flex: 1 0 21%; /* explanation below */
}

.our-books {
  font-size: 18px;
  font-weight: 600;
  color: #030c30;
}

.card {
  margin: 0.6rem;
}

.card-title {
  font-weight: 600;
  font-size: 12px;
  color: #030c30;
  line-height: 18px;
}

.card-text {
  font-size: 10px;
  font-style: italic;
  line-height: 19px;
  font-weight: 400;
  color: #030c30;
}

.card {
  :hover {
    filter: brightness(90%);
    opacity: 95%;
    cursor: pointer;
  }
}

img:hover + button {
  display: inline-block;
}

.text-color {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 17px;

  a {
    color: #e87475 !important;
  }
}

.login {
  font-size: 20px;
}

@media (max-width: 575px) {
  .home-image {
    display: none;
  }
  .nav-image {
    margin-left: 1rem;
  }
  .container-book {
    img {
      height: 100%;
      width: 80%;
      margin: 0 auto;
    }
  }
  .card-title {
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
    font-weight: 700;
  }
  .new-title {
    text-align: left !important;
  }
  .card-text {
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
  .new-text {
    text-align: left !important;
  }
}

.forgot {
  margin-left: 0.7rem;
}

.color-new {
  color: #38353d !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .log-please {
    color: #1e2329 !important;
    font-weight: 500;
  }
  a {
    color: #1e2329 !important;
    font-weight: 700 !important;
    text-decoration: underline;
  }
}

.nav-link {
  color: #131b42 !important;
  font-weight: 60;
}

@media (max-width: 500px) {
  .img-fluid {
    height: 40%;
    width: 40%;
  }
}

.home-container {
  max-width: 900px;
  margin: 0 auto;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.admin-container {
  padding: 1rem 1.5rem !important;
  background-color: #f4f5f6;
  height: 100vh;
}

.greeting-container {
  margin-top: 1.3rem;
  margin-left: -0.3rem;
}

.greetings {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.greet-description {
  margin-top: -1rem;
  font-size: 12px;
}

.nav-dash {
  width: 100%;
}

.dashboard {
  margin-left: 0.3rem;
}

.nav-logout {
  margin-right: 0.6rem;
}

.name {
  font-size: 20px;
  color: #131b42 !important;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  font-size: 14px;
  color: #f1f3f8;
}

.title-information {
  margin-left: 1rem;
  color: #f1f3f8;
}

.card-info {
  margin-left: 0.3rem;
  background-color: #393b44 !important;
}

.admin-links {
  margin-left: 0.4rem;
  display: flex;
}

.c-products {
  padding-right: 1rem;
}

.card-edit {
  background-color: #f8f8f9;
  margin: 0 auto;
  height: 70vh !important;
  width: 50%;
  border-radius: 0.7rem;
}

.modal-h {
  border: none !important;
}

.modal-t {
  font-size: 20px;
  font-weight: 500;
  color: #131b42;
}

.modal-form {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 70% !important;
}

.button-category {
  width: 70% !important;
}

.c-category {
  margin-top: 1rem !important;
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.btn-create {
  margin-bottom: 1rem !important;
}

.modal-content {
  height: 60vh;
}

.form-category {
  margin-top: 5rem !important;
}

.c-product {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
}

.select-form {
  padding: 0.5rem 0.7rem;
  margin: 0 auto;
  width: 90%;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 0.15rem;
  background-color: white;
}

option {
  color: rgb(78, 84, 110);
}

.input-quantity {
  padding: 0.5rem 0.7rem;
  margin: 0 auto;
  width: 90%;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 0.15rem;
  background-color: white;
}

.f-description {
  width: 100%;
  padding: 0.5rem !important;
  height: 15vh !important;
  margin-top: 1rem !important;
}

.photo {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.button-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.photo {
  font-size: 13px;
}

.camping {
  margin-left: 0.6rem;
}

.name-user {
  color: #f2aad9 !important;
  font-weight: 700 !important;
}

.c-bg {
  background-color: #ffd5cd !important;
}

.inf-user {
  color: #363636;
}

.t-c {
  color: #031b29;
  font-weight: 700;
}

.user-links {
  margin-left: 0.4rem;
  display: flex;
}

.m-cart {
  padding-right: 1rem;
}

.u-l {
  margin-left: 0.4rem;
  color: #031b29;
  font-weight: 600;
}

.m-left {
  margin-left: -0.2rem;
}

.u-desc {
  font-size: 10px;
  font-style: italic;
  font-weight: 400;
  color: #030c30;
}

.btn-container {
  display: flex;
  width: 90%;
}

.b-edit {
  padding: 0.5rem 0.8rem !important;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #f2aad9 !important;
}

.b-2 {
  margin-left: 1rem !important;
}

.new-c {
  margin-top: -1rem;
  margin-left: -0.4rem;
}

.text-content {
  text-align: left;
}

.login-c {
  overflow: hidden;
  overflow-y: hidden;
}

.link-items {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
}
